<!DOCTYPE html>
<html lang="ch">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/comgoods.css"/>
	<title>编辑优惠商品</title>
</head>
<body>
	<div id="top">
			<div class="top">
				<div class="logo">
					<a href="/system/"><img src="/static/img/logo.png"/></a>
				</div>
				
			</div>
		</div>

	<div>
		<div class="list_cha">
		<table width="915px" border="0" class="stripe" cellpadding="0" cellspacing="0">
						<tr> 
							<td width="300px">
								<!-- <img src="img/milk.png" width="100px" height="100px"> -->
								<div>
									<form id="upload-form1" method="POST" enctype="multipart/form-data" >
	　　　								<input type="file" id="upload1" name="upload" /><br/>
	　　　								<input type="submit" id="upclick1" value="确定"/>

								</div>
							</td> 
							<td width="150px" style="text-align: center;">
								<input type="text" placeholder="请输入商品ID" name="id"><br>
{#								<input type="submit" value="确定">#}
							</td> 
							<td width="200px" style="text-align: center;">
								<input type="text" placeholder="请输入商品名称" name="name"><br>
{#								<input type="submit" value="确定">#}
                            </td>
							</td> 	
							<td width="120px" style="text-align: center;">
								<input type="text" placeholder="请输入商品单价" name="price"><br>
{#								<input type="submit" value="确定">#}
							</td>
                            <td width="110px">
								<input type="text" placeholder="请输入类型" name="type"><br>
{#								<input type="submit" value="确定">#}
							</td>
							<td width="100px" style="text-align: center;">
                                <input type="text" placeholder="请输入商品折扣" name="discount"><br>
{#								<input type="submit" value="确定">#}
                            </td>
							<!-- <td width="110px" style="text-align: center;">是</td> 	 -->
							<td width="110px">
								<input type="text" placeholder="开始时间(xxxx-xx-xx)" name="discount_start"><br>
{#								<input type="submit" value="确定">#}
							</td>
                            <td width="110px">
								<input type="text" placeholder="结束时间(xxxx-xx-xx)" name="discount_end"><br>
{#								<input type="submit" value="确定">#}
							</td>
                            <td width="150" style="text-align: center;">
								<input type="text" placeholder="请输入商品库存" name="kucun"><br>
{#								<input type="submit" value="确定">#}
							</td>
							<td width="110px">
								<input type="text" placeholder="请输入进货渠道" name="qudao"><br>
{#								<input type="submit" value="确定">#}
							</td>
                            </form>
						</tr>
        </table>
        </div>
    </div>
    <div style="margin: auto;width: 100px" ;">
         <span style="color:orangered;font-size: 16px;" >{{ error_msg }}</span>
    </div>

{#						<input type="submit" value="确定全部 点击上传">#}
{#						<button>继续添加</button>#}
</body>
</html>