
     <!DOCTYPE html>
<html lang="ch">
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/common.css"/>
	
	<meta charset="UTF-8">
	<title>会员列表信息</title>

</head>
<body>
<div id="top">
			<div class="top">
				<div class="logo">
					<a href="/system/"><img src="/static/img/logo.png"/></a>
				</div>
				
			</div>
		</div>

	<div>
		<div class="search">
			<form action=" " method="POST">	
			<input type="text" class="text"  placeholder="请输入ID或会员名" name="id_or_name" />
			<input type="submit" class="search_l" value="搜索">
			</form>
			<!-- <input type="text" class="text" name="" id="" value="搜索" onfocus="if (value =='搜索'){value =''}" onblur="if (value ==''){value='搜索'}" /> -->
			<!-- <input type="button" class="button" name="" id="" value="" /> -->
		</div>
		<div class="list_cha">
		<table width="915px" border="0" class="stripe" cellpadding="0" cellspacing="0"> 
						<tr> 
							<td width="100px" style="text-align: center;">头像</td> 
							<td width="140px" style="text-align: center;">会员ID</td> 
							<td width="140px" style="text-align: center;">会员姓名</td> 	
							<td width="120px" style="text-align: center;">会员性别</td>
							<td width="110px" style="text-align: center;">年龄</td>
							<td width="170px" style="text-align: center;">联系方式</td> 						
							<td width="140px" style="text-align: center;">注册时间</td>
						</tr>
    <tr>
<td width="100px">
<img src="/static/customers_pic/9669440.png" width="100px" height="100px">
</td> 
<td width="140px" style="text-align: center;">9669440</td>
<td width="140px" style="text-align: center;">yyj</td>
<td width="120px" style="text-align: center;">男</td>
<td width="110px" style="text-align: center;">27</td>
<td width="170px" style="text-align: center;">18103211686</td>
<td width="140px" style="text-align: center;">2019-02-15 22:35:00</td>
</tr>

    </table> 
					</div>
	</div>
</body>
</html>
    