<!DOCTYPE html>
<html lang="ch">
<head>
		<meta charset="utf-8" />
		<title>Echarts</title>
		<link rel="stylesheet" type="text/css" href="/static/plugin/bootstrap.css"/>
		<link rel="stylesheet" href="/static/css/charts.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/common.css"/>
	</head>
	<body>
	<div id="top">
			<div class="top">
				<div class="logo">
					<a href="/system/"><img src="/static/img/logo.png"/></a>
				</div>
				<!-- <ul class="login_out">
					<li><a href="#"><img src="img/out_ico1.png"/>修改密码</a></li>
					<li><a href="login.html"><img src="img/out_ico2.png"/>退出登录</a></li>
				</ul> -->
			</div>
		</div>
		<main class="container">
			<div class="row">
				<div id="echarts-1" class="col-xs-6"></div>
				<div id="echarts-2" class="col-xs-6"></div>
			</div>
			<div class="row">
				<div id="echarts-3" class="col-xs-12"></div>
			</div>
		</main>
	</body>
	<!--js部分-->
	<script src="/static/plugin/jquery.min.js"></script>
	<script src="/static/plugin/echarts.js"></script>
	<script src="/static/js/common.js"></script>
</html>