
     <!DOCTYPE html>
<html lang="ch">
<head>
	<meta charset="UTF-8">
	<title>商品分类</title>
	<link rel="stylesheet" type="text/css" href="/static/css/classgoods.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/common.css"/>
</head>
<body>
    <div id="top">
		<div class="top">
			<div class="logo">
				<a href="/system/"><img src="/static/img/logo.png"/></a>
			</div>
		</div>
	</div>
    <div class="search">
			<form action=" " method="post">
			<input type="text" class="text"  placeholder="请输入商品ID或商品名" name="id_or_name" />
			<input type="submit" class="search_l" value="搜索">
			</form>
			<!-- <input type="text" class="text" name="" id="" value="搜索" onfocus="if (value =='搜索'){value =''}" onblur="if (value ==''){value='搜索'}" /> -->
			<!-- <input type="button" class="button" name="" id="" value="" /> -->
    </div>
    <div style="width:750px; margin:auto">
<img src="/static/predict/车厘子.png" style="margin: auto">
</div>
  </body>
    