
    <!DOCTYPE html>
<html lang="ch">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/static/css/common.css"/>
	<title>用户喜好</title>
</head>
<body>
	<div id="top">
			<div class="top">
				<div class="logo">
					<a href="/system/"><img src="/static/img/logo.png"/></a>
				</div>
			</div>
		</div>
		<div class="search">
		<form action=" " method="post">	
			<input type="text" class="text" name="id" id="" placeholder="请输入顾客ID" />
			<input type="submit" class="search_l" value="搜索">
		</form>
		</div>
	<div class="list_cha">
		<table width="915px" border="0" class="stripe" cellpadding="0" cellspacing="0"> 
						<tr> 
							<td width="305px" style="text-align: center;">会员ID</td> 	
							<td width="305px" style="text-align: center;">商品ID</td>
                            <td width="305px" style="text-align: center;">商品名</td>
							<td width="304px" style="text-align: center;">次数</td>
						</tr>  
    
  </table> 
	</div>
</body>
</html>
    