<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>商品分类</title>
	<link rel="stylesheet" type="text/css" href="/static/css/classgoods.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/common.css"/>
	<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/static/js/classgoods.js"></script>
</head>
<body>
  	<form action=" " method="POST">	
  		<input type="text" name="p1" value="{{ username }}" style="display: none;">
    <div id="top">
		<div class="top">
			<div class="logo">
				<input type="submit" name="" formmethod="POST" formaction="/system/" style="background-image: url(/static/img/logo.png); width: 550px; height: 65px; background-color: #ffffff00; cursor: pointer;" value="">
			</div>
		</div>
	</div>
	<div class="dropdown" >
	  	<button class="dropbtn">水果分类</button>
	  	<div class="dropdown-content" style="left:0;">
		    	<input type="submit" name='dangji' class="input1" value='当季水果'><br>
		    	<input type="submit" name='jiangguo' class="input1" value='浆果类'><br>
		    	<input type="submit" name='guaguo' class="input1" value='瓜果类'><br>
		    	<input type="submit" name='juguo' class="input1" value='橘果类'><br>
		    	<input type="submit" name='heguo' class="input1" value='核果类'><br>
		    	<input type="submit" name='renguo' class="input1" value='仁果类'><br>
	  	</div>
    </div>
    <div class="list_cha">
		<table width="780px" border="0" class="stripe" cellpadding="0" cellspacing="0">
			<tr> 
				<td width="100px" style="text-align: center;">商品照片</td> 
				<td width="200px" style="text-align: center;">商品类别</td> 
				<td width="140px" style="text-align: center;">商品名称</td> 	
				<td width="120px" style="text-align: center;">商品单价</td>			
				<td width="110px" style="text-align: center;">商品库存</td>
				<td width="110px" style="text-align: center;">进货渠道</td>
			</tr>  
			{% for data in datas %}
		    <tr>
		    	<td width="140px">
		    		<img src="/static/items_pic/{{ data[0] }}.png" width="100px" height="100px">
		    	</td>
				<td width="200px" style="text-align: center;">{{ data[3] }}</td>
		        <td width="140px" style="text-align: center;">{{ data[1] }}</td>
		        <td width="120px" style="text-align: center;">{{ data[2] }}</td>
		        <td width="110px" style="text-align: center;">{{ data[7] }}</td>
		        <td width="110px" >data[8]</td>
		    </tr>
		    {% endfor %}
   		</table>
	</div>
    </form>
</body>
</html>
    