<!DOCTYPE html>
<html lang="zh">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css"/>
    <meta charset="UTF-8">
    <title>会员列表信息</title>
</head>
<body>
    <form action=" " method="POST"> 
        <input type="text" name="p1" value="{{ username }}" style="display: none;">
    <div id="top">
        <div class="top">
            <div class="logo">
                <input type="submit" name="" formmethod="POST" formaction="/system/" style="background-image: url(/static/img/logo.png); width: 550px; height: 65px; background-color: #ffffff00; cursor: pointer;" value="">
            </div>
        </div>
    </div>
    <div>
        <div class="search">
                <input type="text" class="text"  placeholder="请输入ID或会员名" name="id_or_name" />
                <input type="submit" class="search_l" value="搜索">
        </div>
        <div class="list_cha">
            <table width="915px" border="0" class="stripe" cellpadding="0" cellspacing="0"> 
                <tr> 
                    <td width="100px" style="text-align: center;">头像</td> 
                    <td width="140px" style="text-align: center;">会员ID</td> 
                    <td width="140px" style="text-align: center;">会员姓名</td>     
                    <td width="120px" style="text-align: center;">会员性别</td>
                    <td width="110px" style="text-align: center;">年龄</td>
                    <td width="170px" style="text-align: center;">联系方式</td>                         
                    <td width="140px" style="text-align: center;">注册时间</td>
                </tr>
                {% for data in datas %}
                <tr>
                    <td width="100px">
                        <img src="/static/img/{{ data[0] }}.png" width="100px" height="100px">
                    </td> 
                    <td width="140px" style="text-align: center;">{{ data[1] }}</td>
                    <td width="140px" style="text-align: center;">{{ data[2] }}</td>
                    <td width="120px" style="text-align: center;">{{ data[3] }}</td>
                    <td width="110px" style="text-align: center;">{{ data[4] }}</td>
                    <td width="170px" style="text-align: center;">{{ data[5] }}</td>
                    <td width="140px" style="text-align: center;">{{ data[6] }}</td>
                </tr>
                {% endfor %}
            </table> 
        </div>
    </div>
    </form>
</body>
</html>
    