<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/common.css"/>
    <title>用户喜好</title>
</head>
<body>
    <form action=" " method="post"> 
        <input type="text" name="p1" value="{{ username }}" style="display: none;">
    <div id="top">
        <div class="top">
            <div class="logo">
                <input type="submit" name="" formmethod="POST" formaction="/system/" style="background-image: url(/static/img/logo.png); width: 550px; height: 65px; background-color: #ffffff00; cursor: pointer;" value="">
            </div>
        </div>
    </div>
    <div class="search">
            <input type="text" class="text" name="id" id="" placeholder="请输入顾客ID" />
            <input type="submit" class="search_l" value="搜索">
    </div>
    <div class="list_cha">
        <table width="915px" border="0" class="stripe" cellpadding="0" cellspacing="0"> 
            <tr> 
                <td width="305px" style="text-align: center;">会员ID</td>     
                <td width="305px" style="text-align: center;">商品ID</td>
                <td width="305px" style="text-align: center;">商品名</td>
                <td width="304px" style="text-align: center;">次数</td>
            </tr>
            {% for data in datas %}
            <tr>
                <td width="305px" style="text-align: center;">{{ data[0] }}</td>
                <td width="305px" style="text-align: center;">{{ data[1] }}</td>
                <td width="305px" style="text-align: center;">{{ data[2] }}</td>
                <td width="304px" style="text-align: center;">{{ data[3] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    </form>
</body>
</html>
    